.your-details input,
.your-details textarea {
  border-bottom: 1px solid gray;
}
.container_fullwidth {
  padding: 15px 0;
}
.your-details h5 {
  margin: 10px 0 20px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.your-details input {
  /* padding: 0 10px; */
  margin-left: 20px;
  width: 222px;
}
/* TAGS*/
.tag {
}
.tag input[type="text"] {
  position: relative;
  margin: 0 15px;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}
.tag input[type="submit"] {
  position: relative;
  border: 1px solid #e1e1e1;
  background: #f7544a;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
}
.tag input[type="submit"]:hover {
  border: 1px solid #303030;
  background: #303030;
}

.form-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
}
#Reviews .input {
  width: 100%;
  padding: 10px;
}
#Reviews .lebel-abs {
  left: 20px;
  position: absolute;
  top: 15px;
}
.red {
  color: #ff3a3a;
}
.step-title {
  color: #ff3a3a;
  font-size: 16px;
  font-weight: 700;
}
.step-title:hover {
  color: #ff3a3a;
  text-decoration: none;
}

/*left bar */
.leftbar {
  position: relative;
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  clear: both;
}
.leftbar .title {
  font-size: 16px;
  text-transform: uppercase;
}
.product-image img {
  width: 41px;
  height: 60px;
}
.special-deal img {
  display: block;
  margin: 0 auto;
}
.special-item {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.special-item:last-child {
  margin-bottom: 5px;
}
.special-item .product-image {
  float: left;
  width: 25%;
  text-align: center;
}
.special-item .product-info {
  float: right;
  width: 65%;
}
.product-info a {
  color: black;
}
.product-info a:hover {
  text-decoration: none;
}
.special-item .price {
  color: #ff3e3e;
  font-size: 16px;
}
/*!~~~~~~~~~~~~ PRODUCT TAGS ~~~~~~~~~~~~~*/
.product-tag {
}
.product-tag ul {
  position: relative;
}
.product-tag ul li {
  float: left;
  display: inline;
  margin: 0 5px 5px 0;
}
.product-tag ul li a {
  background: #fff;
  color: #2f2f2f;
  padding: 5px 15px;
  border: 1px solid #cccccc;
  display: block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.product-tag ul li a:hover {
  color: #f7544a;
  border-color: #f7544a;
}
.submit-hang input {
  display: inline-block;
  float: right;
  background-color: transparent;
  color: black;
}
