@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #d3ad7f;
  --black: red;
  --bg: #fff;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}
#header-logo {
  background-color: #fff;
  display: flex;
  padding: 5px 0;
}

#logo {
  margin-left: 25px;
  display: inline-block;
  float: left;
}
.header-left {
  display: flex;
  padding-top: 15px;
}
#search-tong {
  display: flex;
    margin: auto;
}
/* #search {
  margin-left: 25px;
} */
.cart{
  display: block;
  float: left;
}
.cart img{
  width: 30px;
  margin-left: 50px;
  height: 30px;
}
#search input {
  border-radius: 10px 0 0 10px;
  width: 270px;
  height: 30px;
  padding: 0 10px;
  float: left;
  border: 1px solid black;
  border-right: none;
}
#search button {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 0 10px 10px 0;
  border: 1px solid black;
  border-left: none;
}

#hotline {
  display: flex;
}
#hotline h4 {
  padding: 0;
  margin: 0;
}
#hotline img {
  margin-right: 20px;
}
#hotline .text-hot {
  margin-top: 5px;
  text-align: center;
}
#hotline span {
  color: #d60404;
  font-size: 16px;
  font-weight: 700;
}
.header {
  background-color: #00483d;
}
.header .logo img {
  height: 6rem;
}

.header .navbar {
  display: flex;
  align-items: center;
  margin-bottom: unset;
  justify-content: space-around;
}
.header .navbar a {
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
}

.header .navbar a:hover {
  color: var(--main-color);
}

.header .icons div {
  color: #26a2dc;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.list-item-category {
  position: relative;
  color: #fff;
  font-size: 1.6rem;
  /* width: 200px; */
  margin-right: 20px;
  font-weight: 600;
  cursor: pointer;
}

.navbar a:hover {
  text-decoration: none;
}
.list-item-category .list-item {
  display: none;
  position: absolute;
  top: 11px;
  left: 0;
  width: 240px;
  padding-top: calc(100% - 125px);
  z-index: 1;
}
.list-item-category .list-item a {
  color: #333;
}
.list-item {
  list-style: none;
}
.list-item > div {
  list-style: none;
  background-color: #fff;
  /* padding: 15px 0; */
}
.list-item-category:hover .list-item {
  display: block;
}
.header .navbar .list-item-category .list-item a {
  display: block;
  padding: 5px 25psx;
}
.header .navbar .list-item-category .list-item li {
  border-top: 1px solid #ccc;
}
.header .navbar .list-item-category .list-item li:first-child {
  border-top: unset;
}
.header .navbar .list-item-category .list-item a:hover {
  color: var(--black);
  background-color: #00483d;
  border-bottom: unset;
}

.slide-banner .carousel-inner {
  height: 500px;
}
.slide-banner .carousel-control {
  display: none;
}
.slide-banner .carousel-indicators {
  bottom: -35px;
}
.slide-banner .carousel-indicators .active {
  background-color: #ccc;
}
.slide-banner .carousel-indicators li {
  border: unset;
  background-color: #869791;
}

.product {
  margin-top: 50px;
 
}
.product h2 {
  margin: 20px 0;
  text-align: center;
  position: relative;
}
.product h2::before {
  position: absolute;
  bottom: -5px;
  left: calc(50% - 95px);
  width: 200px;
  height: 2px;
  content: "";
  background-color: red;
}

.item-product {
  box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  margin: 10px 0;
}
.item-product .image img {
  width: 100%;
  height: 170px;
}
.item-product .wraper-inf {
  padding: 10px;
  text-align: center;
}
.item-product .wraper-inf .tag {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}
.item-product .wraper-inf .name a {
  font-weight: 500;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #333;
}
.item-product .wraper-inf .name a:hover {
  text-decoration: none;
}
.item-product .wraper-inf .price {
  margin-top: 10px;
}
.item-product .wraper-inf .price span {
  font-weight: 500;
  color: red;
}
.xt {
  text-align: center;
  margin: 10px 0;
  display: block;
}
.xt input {
  padding: 10px 15px;
  background-color: #234e70;
  border-radius: 25px;
  color: #fbf8be;
  font-weight: 600;
}

.partner {
  text-align: center;
  background-color: #e9e9e9;
  padding: 50px 0;
}
.partner p {
  font-size: 15px;
  margin: 15px 0;
}
.partner p span {
  font-weight: bold;
}

.product-flashsale {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.product-flashsale .card {
  /* margin: 0 15px; */
  padding: 0 15px;
  width: 14.28%;
}

.card img {
  width: 100%;
  height: 50px;
}
.section-content {
  color: #f4efea;
  background-color: #00483d;
  text-align: center;
  padding: 40px 0;
}
.section-content h2 {
  margin-bottom: 20px;
}
.section-content p {
  margin-bottom: 20px;
  font-size: 16px;
}
.col-sec-img img {
  padding-top: 0.2em;
  width: 100%;
  width: 150px;
  height: 150px;
}
.col-inner {
  padding: 40px 0;
}
.col-sec-conten {
  margin: 20px 0;
}
.col-sec-conten p {
  margin-top: 15px;
  font-size: 15px;
  text-align: justify;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.map h3 {
  text-align: center;
  margin: 20px 0;
}
#map {
  text-align: center;
}
#footer {
  background-color: #00483d;
  padding: 40px 0 60px 0;
  color: #fff;
}
#footer span {
  color: #f4a950;
  font-weight: 600;
}
#footer h5 {
  margin-bottom: 30px;
}
#img-footer img {
  margin: 15px 0;
  width: 186px;
  height: 93px;
}
#footer p {
  font-size: 13px;
  margin-bottom: 26px;
}
#footer-bot {
  background-color: #022354;
  color: #f4a950;
  padding: 10px 0;
  text-align: center;
}
.hideDesktop {
  display: none;
}
/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header-left {
    display: none;
  }
  #menu-btn {
    display: inline-block;
    color: #164883;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
  }
  .header {
    padding: 0;
  }
  .header .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 1.5rem);
    display: none;
  }

  .header .navbar.active {
    right: 0;
    z-index: 16;
    top: 45px;
    display: block;
  }

  .header .navbar a,
  .list-item-category {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }
  #footer-2 {
    margin-bottom: 160px;
  }
  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
  .slide-banner .carousel-inner {
    height: 200px;
  }
  /* .slide-banner {
    margin-top: 75px;
  } */
  .map iframe {
    width: 100%;
  }
  .container {
    padding: 0;
  }
  .product-flashsale {
    justify-content: center;
  }
  .product-flashsale .card {
    width: 50%;
    margin: 10px 0;
  }
  .col-sec-conten h4 {
    font-size: 16px;
  }
  .section-content,
  .partner {
    padding: 10px 0;
  }
  .col-sec-conten p {
    text-align: center;
  }
  .item-product {
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    margin: 10px 0;
    height: 270px;
  }
  .xxxxxx {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }
  #header-logo .container {
    width: 100%;
  }
  .logo img {
    width: 50px;
  }
  .hideDesktop {
    display: block;
    position: relative;
    margin: 0 10px;
  }
  #search button {
    position: absolute;
    top: 0;
    right: 15px;
    background: transparent;
    border: 0;
  }
  #search input {
    width: 90%;
    padding: 0;
    border-radius: 15px;
    margin-left: 1.5rem;
    padding: 0 5px;
    font-size: 12px;
  }
  #search {
    margin-left: 0;
  }
  .right-mobile{
    display: flex;
    align-items: center;
  }
  .cart{
    width: 25px;
    height: 23px;
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  #footer-bot {
    padding: 10px 10px;
  }
}
